<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is my HTML Page</title>
    <!--    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.5.2-dist/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css/bootstrap.min.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!--    <script th:src="@{/jquery/jquery.min.js}"></script>-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function () {
        // handle the click event of the 'next' button
        $('#selection_form').submit(function () {
            let value = $('input[name=optradio]:checked', '#selection_form').val();
            alert('clicked value: ' + value);
            let path = '/' + value;

            // change the action value of this form
            $(this).attr('action', path);

        });

    });
</script>


<div class="container-fluid">
    <div class="row my-3">
        <!--side column 1-->
        <div class="col-lg-3"></div>
        <!--middle column-->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <div class="row">
                        <div class="col-md-3">
                            <img th:src="@{images/calendar_logo.jpg}" alt="calendar image" class="card-img">
                        </div>
                        <div class="col-md-9">
                            <h1 class="card-title">View Calendar Events</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center mt-3">
                        <div class="card shadow p-2" th:each="event: ${events}">
                            <div class="card-header bg-primary text-center text-white" th:if="${event.summary}">
                                <h3 class="card-title" th:text="${event.summary}"></h3>
                            </div>
                            <div class="card-header bg-primary text-center text-white" th:unless="${event.summary}">
                                <h3 class="card-title">No summary</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td th:text="${event.start.dateTime.toString().split(regex)[0]}"></td>
                                    </tr>
                                    <tr>
                                        <td>Start Time</td>
                                        <td th:text="${event.start.dateTime.toString().split(regex)[1]}"></td>
                                    </tr>
                                    <tr>
                                        <td>End Time</td>
                                        <td th:text="${event.end.dateTime.toString().split(regex)[1]}"></td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>
                                            <textarea name="description" id="description" cols="50" rows="5" th:text="${event.description}" disabled></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of middle column -->

        <!-- side column 2 -->
        <div class="col-lg-3"></div>
    </div>
</div>

<!--    import javascript-->
<!--    <script src="../static/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>-->
<!--    <script th:src="@{/js/bootstrap.js/bootstrap.min.js}"></script>-->

</body>
</html>